* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #F1F1F1;
  font-family: 'Microsoft Yahei';
}
.demo-wrap {
  margin-top: 100px;
}
.demo-wrap .demo {
  width: 1000px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
}
.slide-wrap {
  overflow: hidden;
  width: 1000px;
  height: 450px;
  margin: 0 auto;
  position: relative;
}
.slide-wrap li {
  display: none;
  overflow: hidden;
  width: 300px;
  position: absolute;
  z-index: 0;
  box-shadow: 0 10px 20px #888;
}
.slide-wrap .inner {
  position: relative;
  border: 3px solid #ECFDFD;
  border-radius: 5px;
}
.slide-wrap .inner a {
  text-decoration: none;
  border: none;
  outline: none;
}
.slide-wrap .pic-tit {
  overflow: hidden;
  width: 100%;
  height: 65px;
  line-height: 65px;
  background: #1CA297;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: 99999;
  font-size: 14px;
  text-align: center;
  color: #FFF;
}
.slide-wrap img {
  width: 100%;
  border: none;
  outline: none;
}
.slide-wrap .pos1 {
  display: block;
  width: 180px;
  height: 236px;
  top: 60px;
  left: 6%;
  z-index: 1;
}
.slide-wrap .pos2 {
  display: block;
  width: 220px;
  height: 286px;
  top: 35px;
  left: 20%;
  z-index: 2;
}
.slide-wrap .pos3 {
  display: block;
  width: 300px;
  height: 390px;
  top: 0;
  left: 35%;
  z-index: 3;
}
.slide-wrap .pos4 {
  display: block;
  width: 220px;
  height: 286px;
  top: 35px;
  right: 20%;
  z-index: 2;
}
.slide-wrap .pos5 {
  display: block;
  width: 180px;
  height: 236px;
  top: 60px;
  right: 6%;
  z-index: 1;
}
.slide-wrap .inner {
  overflow: hidden;
  position: relative;
}
.arrow {
  width: 48px;
  height: 46px;
  background-image: url(http://www1.pcbaby.com.cn/test/gz20151127/bbs/images/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 140px;
  z-index: 10;
  cursor: pointer;
  color: #FFF;
}
.prev {
  background-position: 0 0;
  left: 330px;
}
.next {
  background-position: -52px 0;
  right: 330px;
}

.dots-wrap{
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.dots-item{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  /* cursor: pointer; */

}
.dots-item.active{
  background-color: red;
}