*{margin: 0;padding: 0;list-style: none;}
body{font-family: "Microsoft Yahei";}
.demo{ position: relative; height: 400px; width: 1000px;margin:0 auto;}
.slide-wrap { position: relative; margin: 0 auto; width: 1000px; height: 300px ;}
.slide-wrap li { position: absolute; display: none; z-index: 0 ;width: 500px;font-size: 0}
.slide-wrap .pic-tit{ width:100%; line-height: 50px;text-align: center;
 background:rgba(0,0,0,0.5); position:absolute; bottom:0px; left:0px; z-index:99999;color: #fff; font-size: 14px;}
.slide-wrap img { width: 100% ;}
.slide-wrap .pos1 { display: block; width: 400px; left: 0%; top: 60px; z-index: 1 }
.slide-wrap .pos2 { display: block; width: 450px; left: 10%; top: 40px; z-index: 2 }
.slide-wrap .pos3 { display: block; width: 500px; left: 25%; top: 20px; z-index: 3 }
.slide-wrap .pos4 { display: block; width: 450px; right: 10%; top: 40px; z-index: 2 }
.slide-wrap .pos5 { display: block; width: 400px; right: 0%; top: 60px; z-index: 1 }
.ctrl-dot { position: absolute; bottom: 80px; width: 100%; text-align: center ;-webkit-user-select:none;user-select:none;}
.ctrl-dot li { display: inline-block; *zoom: 1; *display:inline;width:10px; height: 10px;background: #555;margin:0 4px;cursor: pointer;border-radius: 50%;}
.ctrl-dot .current {background: red;}
.prev { left: 180px;}
.next { right: 180px; }

/*重写部分*/
.arrow{
	position: absolute; top: 90px; z-index: 10; cursor: pointer;
	font-size: 80px;
	color: #fff;
	-webkit-user-select:none;
	user-select:none;
}